<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
    </head>
   <body>
    <div class="flex-container">
        <div class="feeding general__block"></div>
        <script src="js/feeding.js" type="module"></script>
        <div class="auto-refill general__block"></div>
        <script src="js/auto-refill.js" type="module"></script>
        <div class="temperature general__block"></div>
        <script src="js/temperature.js" type="module"></script>
    </div>
   </body>
</html>