body {
  background: #dddddd;
  margin: 24px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 500px;

}

.settings__block {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
  margin-bottom: 10px;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.settings__label__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}

.settings__label__block {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background: white;
  margin-bottom: 10px;
  flex: 100%;
}

.general__block {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
  min-height: 100px;
  margin-bottom: 10px;
  flex: 100%;
  justify-content: space-evenly;
}

.control__text__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 25%;
}

.label__text__block {
  display: flex;
  width: 100px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  flex: 15%;
}

.general__button__block {
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 25%;
  
}

.general__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: bold;
}

.general__text__settings {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 150%;
  font-weight: bold;
}

.ph__text__settings {
  margin-bottom: 0px;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

.general__text__small {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.material-icons {
  font-size: 6vw;
}

.material-symbols-outlined {
  font-size: 10vw;
}

.general__btn {
  aspect-ratio : 1 / 1;
  width: 70%;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.info__text__block {
  text-align: left;
}

.timer__btn--start {
  background: #29ce6d;
}

.timer__btn--stop {
  background: #ff0256;
}

.settings__btn {
  background: #b569f4;
  text-decoration: none;
}

.settings__btn__inactive {
  background: #9a989b;
  text-decoration: none;
}

.alarm__btn--inactive {
  background: #29ce6d;
}

.alarm__btn--active {
  background: #ff0000;;
}

.alarm__btn--freeze {
  background: #68a8ef;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 3em;
}

table, th, td {
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 15px;
}
th, td {
  background-color: #d0f274;
  border: 10px;
  border-radius: 10px;
  padding: 15px;
  overflow-wrap: anywhere;
}